.appshell-container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.sidebar {
    width: 20%;
    border-right: 1px solid black;
    height: 100vh;
    /* background-color: aliceblue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab {
    width: 90%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}

.active {
    background-color: black;
    color: white;
}

.tab-wrapper {
    width: 80%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.main-content {
    width: 75%;
    height: 100vh;
    background-color: white;
    overflow-y: auto;
}

.header {
    height: 60px;
    width: 100%;
    position: fixed;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    z-index: 2;
}

.content-container {
    width: 100%;
    height: fit-content;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

    @media only screen and (max-width: 990px) {
        
        .sidebar {
            width: 90px;
            height: 100vh;
        }

        .nav {
            width: calc(100% - 20px);
            height: calc(100% - 20px);
        }

        .tab-wrapper {
            justify-content: center;
        }

        .tab-title {
            display: none;
        }

        .main-content {
            width: calc(100% - 90px);
            height: 100vh;
        }
    }
    @media only screen and (max-width: 600px) {

        .appshel-container {
            display: flex;
            flex-direction: column;
        }
        
        .sidebar {
            width: 100%;
            height: 59px;
            position: absolute;
            border-top: 1px solid black;
            border-right: 0px solid black;
            bottom: 0;
            left: 0;
            display: flex;
            flex-direction: row;
        }

        .nav {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .main-content {
            width: 100%;
            height: calc(100vh - 60px);
        }
    }